.cartWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  align-items: flex-start;

  .listProductSelectedWrapper {
    flex: 1;

    .listProductSelected {
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
      border-radius: 15px;
      margin-bottom: 20px;
    }
  }

  .checkoutInformation {
    padding: 30px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 15px;
    flex: 1;
  }
}
