.titleUserPageWrapper {
  .titleContent {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 30px;
    color: #333;
    transition: all 0.3 ease-in-out;
    display: inline-block;

    &:after {
      height: 3px;
      display: block;
      width: 60%;
      background: #333;
      content: '';
    }
  }
}
