.Profile-container {
}
.Profile-btn {
  margin-bottom: 20px;
}
.Profile-card {
  display: flex;
  align-items: center;
  padding: 40px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0.5rem 1rem;
  border-radius: 15px;
}
.profile-card-info--title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px !important;
}
.Profile-card-img {
  margin-right: 50px;
  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}
.profile-card-info {
  width: 100%;
}
.accountInfo {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px !important;
}
.profile-card-info--item {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.profile-card-info--group {
  display: flex;
  flex-direction: column;
}

.myAccount-Form-Edit {
  display: flex;
  flex-direction: column;
}

.myAccount-Edid-Modal {
  position: absolute;
  top: 50%;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fffefe;
  border: 1px solid gray;
  box-shadow: 24px;
  padding: 32px;
}
