.popupShowsProductsWrapper {
  .listProductWrapper {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 20px;
  }
}
